#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hbgBtn{
        cursor: pointer;
        transition: all 0.5s;
        margin-left: 280px;
        &.on{
            margin-left: 0;
            .top{
                width: 15px;
                transform: translate(15px,1px) rotateZ(45deg);
            }
            .bot{
                width: 15px;
                transform: translate(15px,-1px) rotateZ(-45deg);
            }
        }
        span{
            display: block;
            width: 30px;
            height: 2px;
            background-color: #b88eb67c;
            margin-left: 30px;
        }
        .top{
            margin-bottom: 5px;
        }
        .mid{
            margin-bottom: 5px;
        }
    }
    .searchBox{
        display: flex;
        margin-right: 400px;
        input{
            width: 685px;
            height: 40px;
            border: 1px solid #b88eb633;
            border-radius: 20px;
            padding-left: 10px;
        }
        button{
            background-color: transparent;
            border: none;
            color: #777;
            font-size: 18px;
            margin-left: 5px;
            transform: translateY(3px);
            cursor: pointer;
        }
    }
    .joinWrap{
        display: flex;
        margin-right: 25px;
        >a{
            display: block;
            text-align: center;
            width: 120px;
            color: #777;
            line-height: 60px;
            i{
                margin-right: 5px;
            }
        }
        .prdinsertBtn{
            margin-right: 20px;
        }
    }
}

.hbgMenu.on{
    left: -100%;
}
.hbgMenu{
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    transition: all 0.5s;
    .logo{
        width: 150px;
        line-height: 100px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .nav{
        .hbgGnb{
            margin-left: 30px;
            .depthWrap2{
                position: relative;
                width: 150px;
                padding-right: 60px;
                padding-left: 10px;
                margin: 0 auto;
                line-height: 40px;
                transition: all 0.5s;
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    background-color: #b88eb636;
                }
                > a{
                    i{
                        margin-right: 10px;
                    }
                    color: #555;
                }
                .rightarrow,.downarrow{
                    position: absolute;
                    color: #999;
                    right: 10px;
                    top: 0;
                }
                .rightarrow.on{
                    display: none;
                }
                .downarrow{
                    display: none;
                }
                .downarrow.on{
                    display: block;
                }
                .depth2{
                  li{
                    height: 0;
                    margin-left: 15px;
                    overflow: hidden;
                    transition: all 0.5s;
                    &:hover{
                        a{
                            color: #591e55cb;
                        }
                    }
                    a{
                        color: #777;
                    }
                  }
                }
                .depth2.on{
                    li{
                        height: 40px;
                    }
                }
            }
            .depthWrap{
                width: 150px;
                margin: 0 auto;
                line-height: 40px;
                padding-right: 60px;
                padding-left: 10px;
                transition: all 0.5s;
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    background-color: #b88eb636;
                }
                > a{
                    i{
                        margin-right: 10px;
                    }
                    color: #555;
                }
            }
        }
    }
    .hbgFoot{
        position: absolute;
        bottom: 30px;
        margin-left: 25px;
        margin-top: 350px;
        .f-contactBox{
            position: relative;
            width: 230px;
            background-color: #591e55cb;
            border-radius: 15px;
            .topimg{
                width: 200px;
                img{
                    transform: translateY(-100px);
                    width: 100%;
                }
            }
            .botinfo{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 10px;
                color: #fff;
                text-align: center;
                h3{
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 13px;
                    color: #f8f8f8;
                    line-height: 1.3;
                    margin-bottom: 10px;
                }
                a{
                    display: block;
                    border: 1px solid #fff;
                    color: #fff;
                    width: 50px;
                    height: 18px;
                    margin: 0px auto;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #fff;
                        color: #591e55cb;
                    }
                }
            }
        }
    }
}

#footer{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    &.on{
        p{
            margin-left: 0;
        }
    }
    p{
        font-size: 13px;
        line-height: 50px;
        margin-left: 280px;
    }
}