#container{
    .loginWrap{
        background-color: #b88eb633;
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 900px;
            .formWrap{
                padding: 20px;
                background-color: #fff;
                h3{
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                #join_form{
                    input{
                        margin-bottom: unset;
                    }
                }
                #myupt{
                    input{
                        margin-bottom: unset;
                    }
                    .userid{
                        display: block;
                        width: 400px;
                        line-height: 40px;
                        border: 1px solid #b88eb688;
                        background-color: #b88eb633;
                        margin-bottom: 30px;
                        padding-left: 15px;
                        box-sizing: border-box;
                    }
                    #originpass{
                        margin-bottom: 30px;
                    }
                }
                form{
                    margin-top: 20px;
                    input{
                        display: block;
                        width: 400px;
                        line-height: 40px;
                        border: 1px solid #b88eb688;
                        margin-bottom: 30px;
                        padding-left: 15px;
                        box-sizing: border-box;
                    }
                    button{
                        display: block;
                        width: 90px;
                        height: 30px;
                        background-color: #591e55cb;
                        color: #fff;
                        border: none;
                        margin: 20px auto 10px;
                        cursor: pointer;
                    }
                    .message{
                        line-height: 30px;
                        height: 30px;
                        font-size: 12px;
                    }
                }
                .path_regi,.path_login{
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 30px;
                    a{
                        color: #591e55cb;
                    }
                }
                .city1,.city2{
                    margin-top: 20px;
                    margin-right: 10px;
                    height: 30px;
                    border: 1px solid #b88eb688;
                }
            }
        }
    }
}