#container{
    .prdaddWrap{
        background-color: #b88eb633;
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 900px;
            .prdInsert{
                padding: 20px;
                background-color: #fff;
                h2{
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                >p{
                    margin-bottom: 20px;
                }
                .auther{
                    background-color: #b88eb633;
                }
                .line{
                    display: block;
                    width: 400px;
                    line-height: 40px;
                    border: 1px solid #b88eb688;
                    margin-bottom: 30px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    input{
                        width: 100%;
                        list-style: 40px;
                        border: none;
                    }
                }
                #context{
                    outline: none;
                    width: 400px;
                    height: 200px;
                    resize: none;
                    padding: 15px;
                    box-sizing: border-box;
                    border: 1px solid #b88eb688;
                    margin-bottom: 20px;
                }
                .line2{
                    display: flex;
                    justify-content: space-between;
                    .price{
                        width: 50%;
                        line-height: 40px;
                    }
                    .category{
                        background-color: #fff;
                        border: none;
                    }
                }
                .addfileWrap{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    input{
                        display: none;
                    }
                    label{
                        margin-left: 15px;
                        background-color: #b88eb633;
                        width: 70px;
                        text-align: center;
                        border-radius: 8px;
                        line-height: 30px;
                    }
                }
                button{
                    display: block;
                    width: 90px;
                    height: 30px;
                    background-color: #591e55cb;
                    color: #fff;
                    border: none;
                    margin: 20px auto 10px;
                    cursor: pointer;
                }
            }
        }
    }
    .prdhd{
        background-color: #b88eb633;
        .gal_tapmenu{
            display: flex;
            width: 100%;
            justify-content: center;
            li{
                margin-top: 50px;
                margin-bottom: 30px;
                width: 120px;
                line-height: 40px;
                text-align: center;
                background-color: #b88eb633;
                a{
                    display: block;
                    width: 100%;
                    color: #591e559c;
                }
                &.on{
                    background-color: #b88eb65d;
                    a{
                        color: #591e55cb;
                    }
                }
            }
        }
    }
    .gridWrap{
        background-color: #b88eb633;
        display: flex;
        flex-wrap: wrap;
        .grid_list{
            width: 23%;
            margin: 1%;
            background-color: #fff;
            .list_img{
                position: relative;
                &:hover::before{
                   opacity: 1;
                }
                &:hover{
                    .img_bot{
                        opacity: 1;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: rgba(0,0,0,0.3);
                    transition: all 0.5s;
                }
                .img_bot{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    opacity: 0;
                    transition: all 0.5s;
                    cursor: pointer;
                    li{
                        &:hover{
                            background-color: #591e55cb;
                            i{
                                color: #fff;
                            }
                        }
                        width: 50px;
                        height: 50px;
                        background-color: #fff;
                        border-radius: 50%;
                        z-index: 5;
                        text-align: center;
                        margin-top: 10px;
                        transition: all 0.5s;
                        i{
                            line-height: 50px;
                            font-size: 20px;
                            color: #591e55cb;
                        }
                    }
                }
                img{
                    width: 100%;
                    height: 400px;
                }
                .noimg{
                    width: 100%;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .list_info{
                padding: 20px;
                h3{
                    a{
                        color: #000;
                    }
                    margin-bottom: 15px;
                }
                p{
                    color: #777;
                    margin-bottom: 10px;
                }
                .price{
                    color: #591e55cb;
                }
            }
        }
    }
    //상세페이지
    .detail_center{
        background-color: #b88eb633;
        padding-bottom: 15px;
        .detailWrap{
            display: flex;
            .imgWrap{
                width: 38%;
                height: 500px;
                background-color: #fff;
                margin: 1%;
                display: flex;
                justify-content: center;
                border-radius: 15px;
                img{
                    width: 95%;
                    padding: 20px;
                }
            }
            .noimg{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .detail_info{
                width: 60%;
                background-color: #fff;
                margin: 1%;
                border-radius: 15px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3{
                    color: #591e55cb;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
                .detail_icon{
                    display: flex;
                    li{
                        color: #777;
                        &:first-child{
                            margin-left: unset;
                        }
                        margin-left: 15px;
                        i{
                            margin-right: 5px;
                        }
                    }
                }
                .context{
                    padding: 10px 0;
                    height: 200px;
                    margin: 20px 0 0;
                    border-top: 1px solid #b88eb633;
                    border-bottom: 1px solid #b88eb633;
                }
                .detail_icon2{
                    display: flex;
                    padding: 10px 0;
                    align-items: center;
                    border-bottom: 1px solid #b88eb633;
                    .icfir{
                        margin-right: 35px;
                        font-size: 12px;
                        color: #777;
                    }
                    .ic{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #b88eb633;
                        line-height: 30px;
                        text-align: center;
                        cursor: pointer;
                        color: #777;
                        margin: 0 15px;
                        transition: all 0.5s;
                        &:hover{
                            background-color: #591e55cb;
                            color: #fff;
                        }
                    }
                }
                .btnWrap{
                    margin-top: 30px;
                    display: flex;
                    .listpoint{
                        display: block;
                        text-align: center;
                        line-height: 30px;
                        margin-right: 15px;
                        width: 80px;
                        height: 30px;
                        border: 1px solid #b88eb633;
                        color: #777;
                        transition: all 0.5s;
                        &:hover{
                            background-color: #591e55cb;
                            color: #fff;
                        }
                    }
                    .delete{
                        &:hover{
                            background-color: red;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .commentWrap{
            background-color: #fff;
            margin: 1%;
            width: 98%;
            border-radius: 15px;
            h3{
                margin-left: 30px;
                padding-top: 25px;
                color: #591e55cb;
                font-size: 20px;
            }
            .comment_box{
                padding: 20px;
                .wrap{
                    display: flex;
                    margin: 15px 0;
                    .comment_icon{
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                    }
                    .comment_output{
                        .comment_date{
                            color: #bbb;
                            margin: 15px 0;
                        }
                        .comment_context{
                            color: #999;
                            margin-bottom: 10px;
                        }
                    }
                }
                .comment_btn{
                    display: flex;
                    a{
                        display: block;
                        font-size: 13px;
                        width: 60px;
                        line-height: 30px;
                        text-align: center;
                        height: 30px;
                        border: 1px solid #b88eb633;
                        color: #777;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        transition: all 0.5s;
                        &:hover{
                            background-color: #591e55cb;
                            color: #fff;
                        }
                    }
                    .del_comment{
                        border: 1px solid #b88eb633;
                        color: #777;
                        &:hover{
                            background-color: red;
                            color: #fff;
                        }
                    }
                }
                .comupdate_form{
                    display: none;
                    .comContext{
                        width: 80%;
                        border: none;
                        padding: 5px;
                        border: 1px solid #b88eb633;
                        color: #777;
                        resize: none;
                        outline: none;
                    }
                    .btnWrap{
                        display: flex;
                        margin-left: 20px;
                        margin-top: 10px;
                        button{
                            display: block;
                            font-size: 13px;
                            width: 60px;
                            line-height: 30px;
                            text-align: center;
                            height: 30px;
                            border: 1px solid #b88eb633;
                            background-color: #fff;
                            color: #777;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            transition: all 0.5s;
                            &:hover{
                                background-color: #591e55cb;
                                color: #fff;
                            }
                        }
                        .comment_no{
                            border: 1px solid #b88eb633;
                            color: #777;
                        }
                    }
                }
            }
            .comment{
                padding: 30px;
                h3{
                    margin-left: unset;

                    margin-bottom: 30px;
                }
                #comment_form{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    textarea{
                        width: 80%;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #b88eb633;
                        resize: none;
                    }
                    button{
                        display: block;
                        font-size: 13px;
                        width: 60px;
                        line-height: 30px;
                        text-align: center;
                        height: 30px;
                        border: 1px solid #b88eb633;
                        background-color: #fff;
                        color: #777;
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                            background-color: #591e55cb;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    //페이징
    .paging{
        background-color: #b88eb633;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        li{
            line-height: 40px;
            margin: 0 15px;
            color: #777;
            a{
                color: #777;
            }
        }
        .highlight{
            text-decoration: underline;
            a{
                color: #591e559c;
            }
        }
    }
    .paging.store{
        background-color: #fff;
    }
}

//반응형 1660px 이하
@media screen and (max-width:1660px){
    #container{
        .prdhd{
            .gal_tapmenu{
                li{
                    width: 90px;
                }
            }
        }
        .gridWrap{
            .grid_list{
                width: 31%;
            }
        }
    }
}

//반응형 1200px 이하
@media screen and (max-width:1200px){
    #container{
        .prdhd{
            .gal_tapmenu{
                li{
                    width: 90px;
                }
            }
        }
        .gridWrap{
            .grid_list{
                width: 48%;
            }
        }
    }
}

//반응형 768px 이하
@media screen and (max-width:768px){
    #container{
        .prdhd{
            .gal_tapmenu{
                width: 80%;
                margin: 0 auto;
                padding: 20px 0;
                flex-wrap: wrap;
                li{
                    margin: unset;
                    width: 90px;
                }
            }
        }
        .gridWrap{
            .grid_list{
                width: 48%;
            }
        }
        .detail_center{
            .detailWrap{
                flex-direction: column;
                .imgWrap{
                    width: 98%;
                }
                .detail_info{
                    width: 98%;
                    box-sizing: border-box;
                }
            }
        }
    }
}

//반응형 650px 이하
@media screen and (max-width:650px){
    #container{
        .gridWrap{
            .grid_list{
                width: 97%;
            }
        }

    }
}