<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <%- include("common/hbgmenu.ejs") %>
    <div id="container">
    <div class="loginWrap">
        <div class="center">
            <div class="formWrap">
                <h3 class="regi_title">회원가입</h3>
                <p>회원으로 참여해 주세요~</p>
                <form id="join_form" action="/addjoin" method="post">
                    <input id="username" type="text" name="username" placeholder="Name">
                    <p class="message"></p>
                    <input id="userid" type="text" name="userid" placeholder="ID">
                    <p class="message"></p>
                    <input id="userpass" type="password" name="userpass" placeholder="Password">
                    <p class="message"></p>
                    <p>주로 거래하실 지역을 선택해 주세요~</p>
                    <!-- 시/도 선택 -->
                    <select class="city1" name="city1" required>
                        <option value>시/도 선택</option>
                    </select>
                    <!-- 구/군 선택 -->
                    <select class="city2" name="city2" required>
                        <option value>구/군 선택</option>
                    </select>
                    <button id="submitBtn" type="submit">회원가입</button>
                </form>
                <p class="path_login">이미 회원이신가요? <a href="/login">로그인은 여기로</a></p>
            </div>
        </div>
    </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/validation.js"></script>
    <script src="/js/lefttap.js"></script>
    <script src="/js/hangjungdong.js"></script>
    <script src="/js/storeselect.js"></script>
</body>
</html>