<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/loginwrap.css">
</head>
<body>
    <div class="loginWrap">
        <div class="center">
            <div class="formWrap">
                <h3 class="regi_title">회원으로 참여해주세요</h3>
                <div class="pathWrap">
                    <a href="/login">로그인</a>
                    <a class="on" href="/join">회원가입</a>
                </div>
                <form id="join_form" action="/addjoin" method="post">
                    <input id="username" type="text" name="username" placeholder="Name">
                    <p class="message"></p>
                    <input id="userid" type="text" name="userid" placeholder="ID">
                    <p class="message"></p>
                    <input id="userpass" type="password" name="userpass" placeholder="Password">
                    <p class="message"></p>
                    <button id="submitBtn" type="submit">회원가입</button>
                </form>
                <p class="path_login">이미 회원이신가요? <a href="/login">로그인은 여기로</a></p>
                <a class="path_home" href="/">HOME</a>
            </div>
            <div class="left_imgWrap">
                <img src="/img/login.jpg">
            </div>
        </div>
    </div>
    <script src="/js/validation.js"></script>
</body>
</html>