<div class="hbgMenu">
    <div class="bg"></div>
    <div class="logo"><a href="/"><img src="/img/logo.png"></a></div>
    <div class="nav">
        <ul class="hbgGnb">
            <li class="depthWrap">
                <a href="/"><i class="fa-brands fa-hashnode"></i>대시보드</a>
            </li>
            <li class="depthWrap2">
                <a href="#"><i class="fa-solid fa-store"></i>가지마켓</a>
                <div class="rightarrow"><i class="fa-solid fa-angle-right"></i></div>
                <div class="downarrow"><i class="fa-solid fa-angle-down"></i></div>
                <ul class="depth2">
                    <li><a href="/prdlist">- 모든상품</a></li>
                    <li><a href="/prdlist/1">- 생활가전</a></li>
                    <li><a href="/prdlist/2">- 의류/잡화</a></li>
                    <li><a href="/prdlist/3">- 스포츠/레저</a></li>
                    <li><a href="/prdlist/4">- 취미/게임</a></li>
                    <li><a href="/prdlist/5">- 도서/티켓</a></li>
                    <li><a href="/prdlist/6">- 식품</a></li>
                    <li><a href="/prdlist/7">- 기타중고</a></li>
                </ul>
            </li>
            <li class="depthWrap">
                <a href="/store"><i class="fa-solid fa-shop"></i>지역마켓</a>
            </li>
            <li class="depthWrap2">
                <a href="#"><i class="fa-regular fa-calendar-days"></i>공지사항&이벤트</a>
                <div class="rightarrow"><i class="fa-solid fa-angle-right"></i></div>
                <div class="downarrow"><i class="fa-solid fa-angle-down"></i></div>
                <ul class="depth2">
                    <li><a href="/news">- 공지사항</a></li>
                    <li><a href="/event">- 이벤트</a></li>
                </ul>
            </li>
            <li class="depthWrap">
                <a href="/my"><i class="fa-regular fa-registered"></i>회원정보</a>
            </li>
        </ul>
    </div>
    <div class="hbgFoot">
        <div class="f-contactBox">
            <div class="topimg"><img src="/img/Humaaans2.png"></div>
            <div class="botinfo">
                <h3>도움이 필요하신가요?</h3>
                <p>지금 바로 문의 주세요<br>rhgustmfrh@naver.com</p>
                <a href="#">문의</a>
            </div>
        </div>
    </div>
</div>