<div class="hbgMenu">
    <div class="logo"><img src="/img/logo.png"></div>
    <div class="nav">
        <ul class="hbgGnb">
            <li class="depthWrap">
                <a href="/">대시보드</a>
            </li>
            <li class="depthWrap2">
                <a href="#">가지마켓</a>
                <ul class="depth2">
                    <li><a href="/prdlist">모든상품</a></li>
                    <li><a href="/prdlist/1">생활가전</a></li>
                    <li><a href="/prdlist/2">의류/잡화</a></li>
                    <li><a href="/prdlist/3">스포츠/레저</a></li>
                    <li><a href="/prdlist/4">취미/게임</a></li>
                    <li><a href="/prdlist/5">도서/티켓</a></li>
                    <li><a href="/prdlist/6">식품</a></li>
                    <li><a href="/prdlist/7">기타중고</a></li>
                </ul>
            </li>
            <li class="depthWrap">
                <a href="/store">지역마켓</a>
            </li>
            <li class="depthWrap2">
                <a href="#">공지사항&이벤트</a>
                <ul class="depth2">
                    <li><a href="/news">공지사항</a></li>
                    <li><a href="/event">이벤트</a></li>
                </ul>
            </li>
            <li class="depthWrap">
                <a href="/join">회원가입</a>
            </li>
            <li class="depthWrap">
                <a href="/my">회원정보</a>
            </li>
        </ul>
    </div>
    <div class="hbgFoot">
        <div class="f-contactBox">
            <div class="topimg"><img src="/img/Humaaans2.png"></div>
            <div class="botinfo">
                <h3>도움이 필요하신가요?</h3>
                <p>지금 바로 문의 주세요<br>rhgustmfrh@naver.com</p>
                <a href="#">문의</a>
            </div>
        </div>
    </div>
</div>