<div id="header">
    <div class="hbgBtn">
        <span class="top"></span>
        <span class="mid"></span>
        <span class="bot"></span>
    </div>
    <form class="searchBox" action="/prdlist/search/prdname" method="get">
        <input type="text" name="name" placeholder="검색어를 입력해 주세요">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="joinWrap">
        <% if(!userData){ %>
            <a href="/login"><i class="fa-solid fa-arrow-right"></i>로그인</a>
            <a href="/join"><i class="fa-solid fa-user"></i>회원가입</a>
        <% } else { %>
            <a class="prdinsertBtn" href="/prdinsert"><i class="fa-solid fa-circle-plus"></i>상품등록</a>
            <a class="username" href="/my"><%- userData.joinnick %>님</a>
            <a class="logout" href="/logout">로그아웃</a>
        <% } %>
    </div>
</div>